<% layout('layouts/boilerplate')%>
<h1>login:</h1>
<div class="container" style="width: 40%;">
    <form action="/login" method="post" class="validated-form" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
            <div class="valid-feedback">
                Looks Good!
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
            <div class="valid-feedback">
                Looks Good!
            </div>
        </div>
        <button type="submit" class="btn btn-info">Log In</button>
    </form>
</div>
    
<% layout('layouts/boilerplate')%>